 <!-- Brand Logo Start -->
 <div class="brand-area pb-60">
    <div class="container">
        <!-- Brand Banner Start -->
        <div class="brand-banner owl-carousel">
            <div class="single-brand">
                <a href="#"><img class="img" src="img/brand/1.png" alt="brand-image"></a>
            </div>
            <div class="single-brand">
                <a href="#"><img src="img/brand/2.png" alt="brand-image"></a>
            </div>
            <div class="single-brand">
                <a href="#"><img src="img/brand/3.png" alt="brand-image"></a>
            </div>
            <div class="single-brand">
                <a href="#"><img src="img/brand/4.png" alt="brand-image"></a>
            </div>
            <div class="single-brand">
                <a href="#"><img src="img/brand/5.png" alt="brand-image"></a>
            </div>
            <div class="single-brand">
                <a href="#"><img class="img" src="img/brand/1.png" alt="brand-image"></a>
            </div>
            <div class="single-brand">
                <a href="#"><img src="img/brand/2.png" alt="brand-image"></a>
            </div>
            <div class="single-brand">
                <a href="#"><img src="img/brand/3.png" alt="brand-image"></a>
            </div>
            <div class="single-brand">
                <a href="#"><img src="img/brand/4.png" alt="brand-image"></a>
            </div>
            <div class="single-brand">
                <a href="#"><img src="img/brand/5.png" alt="brand-image"></a>
            </div>
        </div>
        <!-- Brand Banner End -->                
    </div>
</div>
<!-- Brand Logo End -->
<!-- footer start -->
<div class="footer-bottom off-white-bg2">
    <div class="container">
        <div class="footer-bottom-content">
            <p class="copy-right-text">Copyright © 2022<a  href="#"><span style="color:#F1AD32;"> Campus</span>Easy</a> All Rights Reserved.</p>
            <div class="footer-social-content">
                <ul class="social-content-list">
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-wifi"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Container End -->
</div>
<!-- Footer End -->
</div>
<!-- Wrapper End -->
<!-- jquery 3.12.4 -->
<script src="js/vendor/jquery-1.12.4.min.js"></script>
<!-- mobile menu js  -->
<script src="js/jquery.meanmenu.min.js"></script>
<!-- scroll-up js -->
<script src="js/jquery.scrollUp.js"></script>
<!-- owl-carousel js -->
<script src="js/owl.carousel.min.js"></script>
<!-- slick js -->
<script src="js/slick.min.js"></script>
<!-- wow js -->
<script src="js/wow.min.js"></script>
<!-- price slider js -->
<script src="js/jquery-ui.min.js"></script>
<script src="js/jquery.countdown.min.js"></script>
<!-- nivo slider js -->
<script src="js/jquery.nivo.slider.js"></script>
<!-- fancybox js -->
<script src="js/jquery.fancybox.min.js"></script>
<!-- bootstrap -->
<script src="js/bootstrap.min.js"></script>
<!-- popper -->
<script src="js/popper.js"></script>
<!-- plugins -->
<script src="js/plugins.js"></script>
<!-- main js -->
<script src="js/main.js"></script>
</body>

</html>